@charset "utf-8";

/*-------------------------------------------------------------*/
/* common */
/*-------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    word-break: keep-all !important;
    word-wrap: normal !important;
}
a {
    text-decoration: none;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: inherit;
    font-size: inherit;
}
.pc {
    display: block;
}
.mobile {
    display: none;
}

.eng {
    margin-top: 1em;
    font-size: 0.9em;
    color: #999999;
    font-family: 'Roboto', sans-serif;
}
.engFont {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.displayNone {
    display: none !important;
}





/*------------------------------------------------------------------*/
/* Layout */
/*------------------------------------------------------------------*/

.pageBlocker {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    background: #fff;
    z-index: 1000000;
}
.pageBlocker:after {
    content: '';
    display: block;
    width: 240px;
    height: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -70px;
     background: url('../images/ring-alt.gif') no-repeat center;

    opacity: 0;
    animation: fade 1s;
    animation-fill-mode: forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.pageBlocker.active:after {
    opacity: 1;
}
.index .pageBlocker-top,
.index .pageBlocker-left,
.index .pageBlocker-right,
.index .pageBlocker-bottom {
    display: block;
    position: absolute;
    opacity: 0;
}
.index .pageBlocker-top {
    height: 6px;
    top: 10px;
    right: 100%;
    left: 10px;
    background: rgba(237, 32, 36, 1);
    transition: right 0.1s linear, opacity 1s;
}
.index .pageBlocker-right {
    bottom: 100%;
    right: 10px;
    bottom: 100%;
    top: 10px;
    width: 6px;
    background: rgba(237, 32, 36, 1);
    transition: bottom 0.1s ease 0.1s, opacity 1s;
}
.index .pageBlocker-bottom {
    bottom: 10px;
    left: 100%;
    right: 10px;
    height: 6px;
   background: rgba(237, 32, 36, 1);
    transition: left 0.1s ease-out 0.2s, opacity 1s;
}
.index .pageBlocker-left {
    top: 100%;
    left: 10px;
    bottom: 10px;
    width: 6px;
    background: rgba(237, 32, 36, 1);
    transition: top 0.1s ease-out 0.3s, opacity 1s;
}

.index .pageBlocker-top {
    transition: right 0.6s linear, opacity 2s;
}
.index .pageBlocker-right {
    transition: bottom 0.6s ease 0.6s, opacity 2s;
}
.index .pageBlocker-bottom {
    transition: left 0.8s ease-out 1.2s, opacity 2s;
}
.index .pageBlocker-left {
    transition: top 1.8s ease-out 2s, opacity 2s;
}

.index .pageBlocker.active .pageBlocker-top,
.index .pageBlocker.active .pageBlocker-left,
.index .pageBlocker.active .pageBlocker-right,
.index .pageBlocker.active .pageBlocker-bottom {
    opacity: 1;
}

.index .pageBlocker.active .pageBlocker-top,
.index .pageBlocker.active .pageBlocker-left,
.index .pageBlocker.active .pageBlocker-right,
.index .pageBlocker.active .pageBlocker-bottom {
    opacity: 1;
}
.index .pageBlocker.active .pageBlocker-top {
    right: 10px !important;
}
.index .pageBlocker.active .pageBlocker-right {
    bottom: 10px !important;
}
.index .pageBlocker.active .pageBlocker-bottom {
    left: 10px !important;
}
.index .pageBlocker.active .pageBlocker-left {
    top: 10px !important;
}




.wrapper,
body {
    background: #fff;
}
.setWidth {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.setWidth:after {
    content: '';
    display: block;
    clear: both;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    transition: all 0.2s;
}
.header .setWidth {
    width: 1440px;
}
.header.on {
    transform: translateY(-100%);
}
.header-logo {
    position: absolute;
    left: 15px;
    top: 14px;
    margin-top: 12px;
}
.header-logo a {
    display: block;
}
.header-logo img {
    display: block;
    height: 28px;
}
.contents {
    padding-top: 80px;
    padding-bottom: 80px;
}
.contents:after {
    content: '';
    display: block;
    clear: both;
}
.gnb {
    float: right;
    display: inline-block;
    opacity: 1 !important;
}
.gnb-list {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;
}
.gnb-list li {
    float: left;
}
.gnb-list li:last-child a {
    padding-right: 0;
}
.gnb-list li a {
    display: block;
    padding: 0 36px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
}
.gnb-list li.active a {
    color: #ed2024;
}


.footer {
    padding: 40px 0px;
    background: #000;
    color: #8e8e8e;
    font-size: 13px;
}
.footer .setWidth {
    width: 1440px;
}
.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}
.footer-menu li:first-child {
    padding-left: 0;
    border-left: none;
}
.footer-menu li {
    padding: 0 20px;
    border-left: 2px solid #b81c1f;
    display: inline-block;
}
.footer-menu li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1em;
}
.footer-text,
.footer-emblem {
    float: left;
}
.footer-logo,
.footer-emblem a {
    display: block;
}
.footer-text {
    margin-left: 30px;
}
.footer-address .unit:first-child {
    margin-top: 0;
}
.footer-address .unit {
    margin-top: 20px;
    line-height: 1.6em;
}
.footer-address .unit .list li {
    display: inline-block;
    margin-left: 20px;
}
.footer-address .unit .list li:first-child {
    margin-left: 0;
}

.footer-copyright {
    float: right;
    text-align: right;
}



/* back to top */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
.cd-top {
    display: inline-block;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* image replacement properties */
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border-radius: 50px;
    background: rgba(0, 0, 0, .4);
    -webkit-background-size: 100%;
    background-size: 100%;
    z-index: 10000;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.cd-top svg {
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.cd-top svg polyline {
    fill: none;
    stroke: #fff;
    stroke-width: 50px;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1;
}
.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}


